* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Montserrat", sans-serif;
    --title-font: 700 44px/54px var(--main-font);
    --sub-title-font: 400 18px/28px var(--main-font);
    --button-text: 700 16px/24px var(--main-font);
    --nav-text: 400 16px/28px var(--main-font);
    --features-title: 700 36px/44px var(--main-font);
    --icon-title: 600 22px/27px var(--main-font);
    --icon-text: 500 16px/26px var(--main-font);
    --footer-title: 700 20px/30px var(--main-font);
    --footer-links: 500 16px/26px var(--main-font);

    --black: #2F281E;
    --lighter-black: #544837;
    --orange: #FF9900;
    --white: #FFFFFF;

}

.body {
    font-family: var(--main-font);
    max-width: 1200px;
    margin: 0;
}

/* Header style */
.container {
    display: flex;
    max-width: 1200px;
    align-items: center;
}

.header {
    margin: 17px 120px;
    align-items: center;
}

.productly {
    padding-right: 198px;
}

.header__nav {
    font: var(--sub-title-font);
    color: var(--black);
    gap: 20px;
    padding-right: 198px;
}

.nav {
    text-decoration: none;
    color: var(--black);
}

.header__nav:hover {
    cursor: pointer;
    color: var(--orange);
}

/* Header style End */

/* Hero style */
.container__hero {
    display: flex;
    margin-left: 120px;
    padding: 96px 0;
}

.hero__title {
    font: var(--title-font);
    padding: 97px 60px 30px 0px;
}

.hero__text {
    font: var(--sub-title-font);
    padding-bottom: 20px;
    color: var(--lighter-black);
}

.hero__img {
    width: 644px;
    height: 495px;
}

.Sign-in {
    padding: 13px 25px;
    margin-right: 32px;
    color: var(--black);
    font: var(--button-text);
    background-color: var(--white);
    border: 0;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

.Sign-up {
    padding: 13px 25px;
    color: var(--black);
    font: var(--button-text);
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;
}

.Sign-in:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;
    transition: all 0.3s;
}

.Sign-up:hover {
    transform: scale(1.1);
    background-color: var(--orange);
    transition: all 0.3s;
}

.button-get-started {
    padding: 13px 40px;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;
    font: var(--button-text);
}

.button-get-started:hover {
    transform: scale(1.1);
    background-color: var(--orange);
    transition: all 0.3s;
}
/* Hero style End */

/* Features style */
.container__features {
    max-width: 1200px;
}

.title__features {
    font: var(--features-title);
    text-align: center;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__row {
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.features__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    gap: 16px;
}

.features__img {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.title__icon {
    color: var(--lighter-black);
    font: var(--icon-title);
}

.text__features {
    color: var(--lighter-black);
    font: var(--icon-text);
}

.button-now {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Sign-up-now {
    padding: 13px 40px;
    color: var(--black);
    font: var(--button-text);
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;
}

.Sign-up-now:hover {
    transform: scale(1.1);
    background-color: var(--orange);
    transition: all 0.3s;
}
/* Features style End*/

/* Footer style */
.container__footer {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.title__footer {
    font: var(--footer-title);
    color: var(--black);
}

.footer__links {
    font: var(--footer-links);
    color: var(--lighter-black);    
    text-decoration: none;
}

.footer__logo {
    display: flex;
    align-items: flex-start;
}

.footer__row {
    margin: 70px;
    display: flex;
    justify-content: center;
}

.footer__quick, .footer__legal {
    display: flex;
    width: 135px;
    margin: 0 50px 0 0;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 0;
}

.footer__form {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 25px;
}

.footer__number {
    width: 340px;
    height: 50px;
    padding: 0 10px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}
    
input {
    width: 100%;
    box-sizing: border-box;
}
    
input[type="number"] {
    background-color: #FFFFFF;
    color: #BCD0E5;
    border: none;
    padding: 15px 10px;
    text-align: left;
    display: inline-block;
    font-size: 16px;
}
/* Footer style End*/