* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.header {
    margin: 13px 120px;
    height: 54px; 
}

.header__nav {
    gap: 20px;
    padding-right: 350px;
}

.navigation {
    margin: 0 auto;
}

.nav {
    color: #000;
    font-family: Staatliches;
    font-size: 22px;
    text-decoration: none;
}

.nav__lan {
    color: #000;
    font-family: Tourney;
    font-size: 22px;
    text-decoration: none;
    margin-right: 50px;
}

.container__hero{
    margin: 70px 120px 90px 120px;
}

.title {
    font-family: Francois One;
    font-size: 36px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.title_d {
    font-family: Farro;
    font-size: 14px;
    text-transform: none;
    vertical-align: top;
}

.text {
    font-family: PT Sans;
    font-size: 28px;
    line-height: 48px;
    padding: 40px 0 0;
}

.text_mark {
    background-color: lightsteelblue;
}